<!DOCTYPE html>
<html>
  <head>
  </head>
  <style>
  </style>
  <body>
    <div class="modal fade" id="addPBIPopUp" tabindex="-1" aria-labelledby="addPBIPopUpLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addPBIPopUpLabel">New Product Backlog Item</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="PBITaskName" class="form-label">Task Name</label>
              <input class="form-control" id="PBITaskName" placeholder="Name of the task">
            </div>
            <div class="mb-3">
              <label for="PBITaskDescription" class="form-label">Task Description</label>
              <textarea class="form-control" id="PBITaskDescription" rows="3" placeholder="Description of the task"></textarea>
            </div>
            <div class="mb-3">
              <div class="row">
                <div class="col">
                  <label for="PBITaskAssignee" class="form-label">Assignee</label>
                  <input class="form-control" id="PBITaskAssignee">
                </div>
                <div class="col">
                  <label for="PBITaskStoryPoint_" class="form-label">Story Points</label>
                  <input type="number" class="form-control" id="PBITaskStoryPoints">
                </div>
              </div>
            </div>
            <div class="mb-3">
              <div class="row">
                <div class="col">
                  <label for="selectPBITaskType_" class="form-label">Task Type</label>
                  <select class="form-select" id="selectPBITaskType_">
                    <option selected></option>
                    <option value="Story">Story</option>
                    <option value="Bug">Bug</option>
                  </select>
                </div>
                <div class="col">
                  <label for="selectPBITaskTag_" class="form-label">Task Tag</label>
                  <select class="form-select" id="selectPBITaskTag_">
                    <option selected></option>
                    <option value="UI">UI</option>
                    <option value="Core">Core</option>
                    <option value="Testing">Testing</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="mb-3">
              <div class="row">
                <div class="col">
                  <label for="selectPBITaskPriority_" class="form-label">Task Priority</label>
                  <select class="form-select" id="selectPBITaskPriority_">
                    <option selected></option>
                    <option value="High">High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low">Low</option>
                  </select>
                </div>
                <div class="col">
                  <label for="selectPBITaskStatus_" class="form-label">Task Status</label>
                  <select class="form-select" id="selectPBITaskStatus_">
                    <option selected></option>
                    <option value="Not started">Not started</option>
                    <option value="In progress">In progress</option>
                    <option value="Completed">Completed</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="addPBI()">Add PBI</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>