<!DOCTYPE html>
<html>
  <head>
  </head>
  <style>
  </style>
  <body>
    <div class="modal fade" id="editPBIPopUp" tabindex="-1" aria-labelledby="editPBIPopUpLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editPBIPopUpLabel">Edit product backlog item</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="editPBIName" class="form-label">Task Name</label>
              <input class="form-control" id="editPBIName">
            </div>
            <div class="mb-3">
              <label for="editPBIDescription" class="form-label">Task Description</label>
              <textarea class="form-control" id="editPBIDescription" rows="3"></textarea>
            </div>
            <div class="mb-3">
              <div class="row">
                <div class="col">
                  <label for="editAssignee" class="form-label">Assignee</label>
                  <input class="form-control" id="editPBIAssignee">
                </div>
                <div class="col">
                  <label for="editPBIStoryPoints" class="form-label">Story Points</label>
                  <input type="number" class="form-control" id="editPBIStoryPoints">
                </div>
              </div>
            </div>
            <div class="mb-3">
              <div class="row">
                <div class="col">
                  <label for="editPBIType" class="form-label">Task Type</label>
                  <select class="form-select" id="editPBIType">
                    <option selected></option>
                    <option value="Story">Story</option>
                    <option value="Bug">Bug</option>
                  </select>
                </div>
                <div class="col">
                  <label for="editPBITag" class="form-label">Task Tag</label>
                  <select class="form-select" id="editPBITag">
                    <option selected></option>
                    <option value="UI">UI</option>
                    <option value="Core">Core</option>
                    <option value="Testing">Testing</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="mb-3">
              <div class="row">
                <div class="col">
                  <label for="editPBIPriority" class="form-label">Task Priority</label>
                  <select class="form-select" id="editPBIPriority">
                    <option selected></option>
                    <option value="High">High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low">Low</option>
                  </select>
                </div>
                <div class="col">
                  <label for="editPBIStatus" class="form-label">Task Status</label>
                  <select class="form-select" id="editPBIStatus">
                    <option selected></option>
                    <option value="Not started">Not started</option>
                    <option value="In progress">In progress</option>
                    <option value="Completed">Completed</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer" id="editButtons">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="submit()" data-bs-dismiss="modal">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>