<!DOCTYPE html>
<html>
  <head>
  </head>
  <style>
  </style>
  <body>
    <div class="modal fade" id="logTimePopUp" tabindex="-1" aria-labelledby="logTimePopUpLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="logTimePopUpLabel">Log Time Spent on Task</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <div class="col">
              <label for="logDate" class="form-label"><b>Date</b></label>
              <div></div>
              <input id="logDate" type="text">
              <script>
                  var logDate = new ej.calendars.DatePicker({format: 'yyyy-MM-dd', width: "255px", min: new Date(sprintInventory.inventory[0][0].startDate), max: new Date(sprintInventory.inventory[0][0].endDate)});
                  logDate.appendTo('#logDate');
              </script>
            </div>

            <br>

            <div class="col">
              <label for="PBITaskName" class="form-label"><b>Time (minutes)</b></label>
              <div></div>
              <input class="form-control" id="PBITaskTime" type="number" placeholder="Time spent on the task">
            </div>

            <p></p>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="logTime()">Log Time</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>