<!DOCTYPE html>
<html>
  <head>
  </head>
  <style>
  </style>
  <body>
    <div id="viewPBI">
      <!-- <div class="modal fade" id="viewPBIPopUp" tabindex="-1" aria-labelledby="viewPBIPopUpLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="viewPBIPopUpLabel">Product backlog item</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="viewTaskName" class="form-label">Task Name</label>
                <text class="form-control" id="viewTaskName"></text>
              </div>
              <div class="mb-3">
                <label for="viewTaskDescription" class="form-label">Task Description</label>
                <text class="form-control" id="viewTaskDescription">Some description text</text>
              </div>
              <div class="mb-3">
                <div class="row">
                  <div class="col">
                    <label for="viewAssignee" class="form-label">Assignee</label>
                    <text class="form-control" id="viewAssignee">Assignee Name</text>
                  </div>
                  <div class="col">
                    <label for="viewStoryPoints" class="form-label">Story Points</label>
                    <text type="number" class="form-control" id="viewStoryPoints">5</text>
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <div class="row">
                  <div class="col">
                    <label for="viewTaskType" class="form-label">Task Type</label>
                    <text class="form-control" id="viewTaskType">Story</text>
                  </div>
                  <div class="col">
                    <label for="viewTaskTag" class="form-label">Task Tag</label>
                    <text class="form-control" id="viewTaskTag">UI</text>
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <div class="row">
                  <div class="col">
                    <label for="viewPriority" class="form-label">Task Priority</label>
                    <text class="form-control" id="viewPriority">Medium</text>
                  </div>
                  <div class="col">
                    <label for="viewStatus" class="form-label">Task Status</label>
                    <text class="form-control" id="viewStatus">In progress</text>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editPBIPopUp">Edit PBI</button>
            </div>
          </div>
        </div>
      </div> -->
    </div>  
  </body>
</html>